
<div class="card m-3 p-3" (click)="navigateToUrl('AWS-Notes-for-Interview')">
  <div class="card-header" style="cursor: pointer;">
    <h6>AWS Notes for Interview</h6>
  </div>
  <div class="card-body">
    <p class="card-text" align="justify">AWS stands for Amazon Web Services. It is a platform by Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis... <a href="/notes/AWS-Notes-for-Interview">load article</a></p>
  </div>
</div>
