
<div class="card m-3 p-3">
  <div class="card-header" (click)="navigateToUrl('app-aws-notes-for-interview')" style="cursor: pointer;">
    <h6>AWS Notes for Interview</h6>
  </div>
  <div class="card-body">
    <p class="card-text" align="justify">AWS stands for Amazon Web Services. It is a platform by Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis... <a class="link" (click)="navigateToUrl('app-aws-notes-for-interview')" style="cursor: pointer;" >open article</a></p>
  </div>
</div>
