<div class="px-2" style="max-width: 100%!important; height: auto; overflow: hidden!important;">
  <div>
    <div>
      <div class="text-center pt-3 placeholder-glow">
        <img class="placeholder" src="..\assets\images\my.jpg" alt="image" class="rounded-circle"
          style="max-width: 200px" />
        <h3 class="mx-auto mt-4">SUDHANSHU GUPTA</h3>
        <p class="mx-auto mt-n3 lead">FULL STACK DEVELOPER</p>
        <div>
          <a class="h3 mx-2" href="https://www.linkedin.com/in/sudhanshu-gupta-om" target="_blank">
            <img class="placeholder" src="..\assets\images\linkedin.png" alt="image" class="rounded-circle"
              style="max-width: 70px" matTooltip="Checkout my LinkedIn" />
          </a>

          <a class="h3 mx-2" href="https://github.com/sudhanshuom" target="_blank">
            <img class="placeholder" src="..\assets\images\github.png" alt="image" class="rounded-circle"
              style="max-width: 70px" matTooltip="Checkout my Github" />
          </a>

          <a class="h3 mx-2" href="https://www.instagram.com/_sudhanshu_gupta_/" target="_blank">
            <img class="placeholder" src="..\assets\images\instagram.png" alt="image" class="rounded-circle"
              style="max-width: 70px" matTooltip="Checkout my Instagram" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" class="scrollspy mt-4" tabindex="0">
    <div id="about" data-aos="fade-left">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>About Me</h4>
        </div>
        <div class="card-body">
          <p class="card-text lead" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Highly skilled and experienced Backend Developer with a strong background in building scalable and reliable applications using Spring Framework and AWS services. Proven ability to design and implement server-side applications, with a deep understanding of databases, algorithms, and data structures. Proficient in developing microservices and RESTful APIs, and deploying applications on AWS cloud infrastructure. Demonstrated ability to work with cross-functional teams and deliver my tasks on time.</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Basic Information</h5>
          <div style="margin-left: 10px;">
            <div class="row py-1">
              <div class="col-sm-4"><b>Date of Birth:</b></div>
              <div class="col-sm-8">July-1998</div>
            </div>
            <div class="row py-1">
              <div class="col-sm-4"><b>Email:</b></div>
              <div class="col-sm-8">sudhanshuom1996@gmail.com</div>
            </div>
            <div class="row py-1">
              <div class="col-sm-4"><b>Home Town:</b></div>
              <div class="col-sm-8">Lucknow, Uttar Pradesh</div>
            </div>
            <div class="row py-1">
              <div class="col-sm-4"><b>Languages:</b></div>
              <div class="col-sm-8">English, Hindi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="skills" data-aos="zoom-in">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>Skills</h4>
        </div>
        <div class="container mx-2">
          <div class="row">
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">Data Structure and Algorithms</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 90%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">JAVA</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 85%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">Spring</h5>
                <div class="mt-1" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 85%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">Redis</h5>
                <div class="mt-1" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 80%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <div class="mt-1" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 80%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">SQL</h5>
                <div class="mt-1" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 75%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">AWS</h5>
                <div class="mt-1" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 80%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">HTML, CSS</h5>
                <div class="mt-1" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 85%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm px-2" style="max-width: 50%;">
              <div class="card-body">
                <h5 class="card-title">Android</h5>
                <div class="mt-1" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 70%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="experience" data-aos="zoom-in">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>Work Experience</h4>
        </div>
        <div class="card-body" data-aos="zoom-in">
          <h5 class="card-title">Infosys</h5>
          <h6 class="lead">Full Stack Developer | Oct 2020 - Present</h6>
          <div class="card-text">
            <p align="justify">Worked as a back-end developer majorly in Spring boot, AWS
              Serverless Lambdas, Restful APIs, SQS, SNS for a
              client in the Oil & Gas Domain. The application is currently live in different countries and seamlessly
              handling millions of requests per day.</p>
            <ul>
              <li>Developed a brand-new Spring-Boot application handling millions of requests seamlessly on a daily
                basis.</li>
              <li>Worked on multiple cutting-edge technologies and participated in development process from scratch to
                delivery.</li>
                <li>Worked in an Agile environment, regularly participating in sprint planning and scrum meetings.</li>
              <li>Performed requirement gathering, analyzed & reviewed business documents
                to create wikis & detailed design documents.Undertook POC for new
                requirements.</li>
              <li>Wrote AWS Lambda functions in Java & Python, exposed APIs, cloudwatch
                events & other AWS resources.</li>
              <li>Designed & coded unit tests in JUnit 4 and maintained code coverage of greater than 90% for all
                components involved.</li>
              <li>Collaborated with teams on the wider platform, took ownership of end-to-end
                integrations, live solution proving activities.</li>
              <li>Provided round the clock support for deployment & quick resolution of
                production issues. Conducted KT sessions to team members.</li>
            </ul>
            <b>Technologies Worked on:</b>
            <div class="row">
              <div class="col-sm-3">
                <ul style="list-style-type: square;">
                  <li>Spring-Boot</li>
                  <li>Java</li>
                  <li>Redis</li>
                  <li>Postman</li>
                </ul>
              </div>
              <div class="col-sm-3">
                <ul style="list-style-type: square;">
                  <li>AWS</li>
                  <li>Netty</li>
                  <li>Azure</li>
                  <li>JUnit 4</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5" style="width: 100%; height: 1px; background: #ababab;" data-aos="zoom-in"></div>
        <div class="card-body" data-aos="zoom-in">
          <h5 class="card-title">IIY Software</h5>
          <h6 class="lead">Software Developer Intern | Feb 2019 - Sep 2019</h6>
          <div class="card-text">
            <ul>
              <li>Worked on different android applications for managing different school activities intended to different type of users. </li>
              <li>Gained experience in Firebase and Oracle Database.</li>
              <li>Worked with databases, implemented complex SQL queries.</li>
              <li>Integrate Google map APIs in application.</li>
            </ul>
            <b>Technologies Worked on:</b>
            <div class="row">
              <div class="col-sm-3">
                <ul style="list-style-type: square;">
                  <li>Android</li>
                  <li>Java</li>
                  <li>Firebase</li>
                  <li>Github</li>
                </ul>
              </div>
              <div class="col-sm-3">
                <ul style="list-style-type: square;">
                  <li>Google Maps</li>
                  <li>Oracle</li>
                  <li>SQL</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="education" data-aos="zoom-in">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>Education</h4>
        </div>
        <div class="card m-2 p-1" style="width: 100%; min-height: 100px;">
          <div class="row" style="width: 100%;">
            <div class="col-sm-3 container text-center mx-2 rounded" style="background: #0d6efd;" data-aos="fade-right">
              <div class="row align-items-center">
                <div class="col-sm" style="color: whitesmoke;">
                  <br>
                  <p class="lead my-0">Bachelor of Technology</p>
                  <p>2016-2020</p>
                </div>
              </div>
            </div>
            <div class="col-sm-8" data-aos="fade-left">
              <div class="card-body">
                <h5 class="card-title">Galgotias College of Engineering and Technology</h5>
                <p class="card-text">Completed my Graduatiuon with <b>8.1 CGPA</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card m-1 p-1" style="width: 100%;">
          <div class="row" style="width: 100%;">
            <div class="col-sm-3 container text-center mx-2 rounded" style="background: #0d6efd;" data-aos="fade-right">
              <div class="row align-items-center">
                <div class="col-sm" style="color: whitesmoke;">
                  <br>
                  <p class="lead my-0">Intermediate</p>
                  <p>2014-2015</p>
                </div>
              </div>
            </div>
            <div class="col-sm-7" data-aos="fade-left">
              <div class="card-body">
                <h5 class="card-title">New Standard Public School</h5>
                <p class="card-text">Completed my class 12th with <b>88.20 %</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card m-1 p-1" style="width: 100%;">
          <div class="row" style="width: 100%;">
            <div class="col-sm-3 container text-center mx-2 rounded" style="background: #0d6efd;" data-aos="fade-right">
              <div class="row align-items-center">
                <div class="col-sm" style="color: whitesmoke;">
                  <br>
                  <p class="lead my-0">High School</p>
                  <p>2012-2013</p>
                </div>
              </div>
            </div>
            <div class="col-sm-7" data-aos="fade-left">
              <div class="card-body">
                <h5 class="card-title">New Standard Public School</h5>
                <p class="card-text">Completed my class 10th with <b>86.67 %</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-5 mb-5" id="contact" data-aos="zoom-in">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>Contact Me</h4>
        </div>
        <div class="card-body row">
          <h5 class="card-title col-sm-3">Email</h5>
          <div class="col-sm-9 row">
            <div class="col">
              <p [cdkCopyToClipboard]="'sudhanshuom1996@gmail.com'" style="cursor: pointer;">
                sudhanshuom1996@gmail.com
              </p>
            </div>
            <div class="col">
              <i [cdkCopyToClipboard]="'sudhanshuom1996@gmail.com'"
                class="border border-2 rounded bi bi-clipboard ms-2 p-1" style="cursor: pointer;">
                <!-- <i class="bi bi-clipboard"></i> -->
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
