<div>
  <div *ngIf="shouldShowNavigation" style="width: 100%; position: fixed; z-index: 10;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand ps-5" href="">Sudhanshu Gupta</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse pe-5" id="navbarColor03" [ngbCollapse]="isCollapsed"
        style="flex-direction: row-reverse;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-2">
            <a class="nav-link" (click)="scroll('about')" style="cursor: pointer;">About Me</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" (click)="scroll('skills')" style="cursor: pointer;">Skills</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" (click)="scroll('experience')" style="cursor: pointer;">Experience</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" (click)="scroll('education')" style="cursor: pointer;">Education</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" (click)="scroll('contact')" style="cursor: pointer;">Contact</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" (click)="updateA('articles')" style="cursor: pointer;">Articles</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="pt-5 mb-5 pb-5">
    <app-portfolio *ngIf="a == 'home'"></app-portfolio>
    <app-blogs *ngIf="a == 'articles'" (updateA)="updateA($event)"></app-blogs>
    <app-aws-notes *ngIf="a == 'app-aws-notes'" (updateA)="updateA($event)"></app-aws-notes>
  </div>
</div>
