<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ps-5" href="#">Sudhanshu Gupta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pe-5" id="navbarColor03" [ngbCollapse]="isCollapsed"
      style="flex-direction: row-reverse;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" href="#about">About Me</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#education">Education</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="px-2" style="max-width: 100%!important; height: auto; overflow: hidden!important;">
  <div>
    <div>
      <div class="text-center pt-3 placeholder-glow">
        <img class="placeholder" src="..\assets\images\my.jpg" alt="image" class="rounded-circle"
          style="max-width: 200px" />
        <h3 class="mx-auto mt-4">SUDHANSHU GUPTA</h3>
        <p class="mx-auto mt-n3 lead">FULL STACK DEVELOPER</p>
        <div>
          <a class="h3 mx-2" href="https://www.linkedin.com/in/sudhanshu-gupta-om" target="_blank">
            <img class="placeholder" src="..\assets\images\linkedin.png" alt="image" class="rounded-circle"
              style="max-width: 70px" matTooltip="Checkout my LinkedIn"/>
          </a>

          <a class="h3 mx-2" href="https://github.com/sudhanshuom" target="_blank">
            <img class="placeholder" src="..\assets\images\github.png" alt="image" class="rounded-circle"
              style="max-width: 70px" matTooltip="Checkout my Github"/>
          </a>

          <a class="h3 mx-2" href="https://www.instagram.com/_sudhanshu_gupta_/" target="_blank">
            <img class="placeholder" src="..\assets\images\instagram.png" alt="image" class="rounded-circle"
              style="max-width: 70px" matTooltip="Checkout my Instagram"/>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" class="scrollspy mt-4" tabindex="0">
    <div id="about" data-aos="fade-left">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>About Me</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Headline</h5>
          <p class="card-text lead">Full stack developer with 3 years of experience leading back-end development, and
            performing quality assurance. I am a solution-oriented developer with an eye for detail. I have great
            ability
            to adapt to new technology, concept, approaches and environment</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Basic Information</h5>
          <table class="table">
            <tr>
              <td class=""><b>Date of Birth:</b></td>
              <td>31-July-1998</td>
            </tr>
            <tr>
              <td><b>Email:</b></td>
              <td>sudhanshuom1996@gmail.com</td>
            </tr>
            <tr>
              <td><b>Home Town:</b></td>
              <td>Lucknow, Uttar Pradesh</td>
            </tr>
            <tr>
              <td><b>Languages:</b></td>
              <td>English, Hindi</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="skills" data-aos="zoom-in">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>Skills</h4>
        </div>
        <div class="container mx-2">
          <div class="row">
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">Data Structure and Algorithms</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 90%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">JAVA</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 85%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">Spring</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 85%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">Redis</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 80%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 80%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">SQL</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 75%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">AWS</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 80%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm px-2">
              <div class="card-body">
                <h5 class="card-title">HTML, CSS</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 85%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm px-2" style="max-width: 50%;">
              <div class="card-body">
                <h5 class="card-title">Android</h5>
                <div class="mt-3" style="width: 100%; height: 5px; background: azure;">
                  <div data-aos="zoom-in-right" data-aos-duration="1000" data-aos-easing="ease-in-sine"
                    style="width: 70%; height: 5px; background: #0d6efd;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="experience" data-aos="zoom-in">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>Work Experience</h4>
        </div>
        <div class="card-body" data-aos="zoom-in">
          <h5 class="card-title">Infosys</h5>
          <h6 class="lead">Full Stack Developer | Oct 2020 - Present</h6>
          <div class="card-text">
            <ul>
              <li>Developed a brand-new Spring-Boot application handling millions of transactions seamlessly on a daily
                purpose. </li>
              <li>Worked on multiple cutting-edge technologies and participated in development process from scratch to
                delivery.</li>
              <li>Collaborated with a team of more than 20 using Agile Methodology.</li>
              <li>Worked with multiple teams across the globes and supported whenever needed. </li>
            </ul>
            <b>Technologies Worked on:</b>
            <div class="row">
              <div class="col-sm-3">
                <ul style="list-style-type: square;">
                  <li>Spring-Boot</li>
                  <li>Java</li>
                  <li>Redis</li>
                  <li>Postman</li>
                </ul>
              </div>
              <div class="col-sm-3">
                <ul style="list-style-type: square;">
                  <li>AWS</li>
                  <li>Netty</li>
                  <li>Azure</li>
                  <li>Swagger</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5" style="width: 100%; height: 1px; background: #ababab;" data-aos="zoom-in"></div>
        <div class="card-body" data-aos="zoom-in">
          <h5 class="card-title">IIY Software</h5>
          <h6 class="lead">Software Developer Intern | Feb 2019 - Aug 2019</h6>
          <div class="card-text">
            <ul>
              <li>Worked on different android applications for managing different school activities intended to
                different type of users. </li>
              <li>Gained experience in Firebase and Oracle Database.</li>
              <li>Gained experience in Google map APIs.</li>
            </ul>
            <b>Technologies Worked on:</b>
            <div class="row">
              <div class="col-sm-3">
                <ul style="list-style-type: square;">
                  <li>Android</li>
                  <li>Java</li>
                  <li>Firebase</li>
                  <li>Github</li>
                </ul>
              </div>
              <div class="col-sm-3">
                <ul style="list-style-type: square;">
                  <li>Google Maps</li>
                  <li>Oracle</li>
                  <li>SQL</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="education" data-aos="zoom-in">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>Education</h4>
        </div>
        <div class="card m-2 p-1" style="width: 100%; min-height: 100px;">
          <div class="row" style="width: 100%;">
            <div class="col-sm-3 container text-center mx-2 rounded" style="background: #0d6efd;" data-aos="fade-right">
              <div class="row align-items-center">
                <div class="col-sm" style="color: whitesmoke;">
                  <br>
                  <p class="lead my-0">Bachelor of Technology</p>
                  <p>2016-2020</p>
                </div>
              </div>
            </div>
            <div class="col-sm-8" data-aos="fade-left">
              <div class="card-body">
                <h5 class="card-title">Galgotias College of Engineering and Technology</h5>
                <p class="card-text">Completed my Graduatiuon with <b>8.1 CGPA</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card m-1 p-1" style="width: 100%;">
          <div class="row" style="width: 100%;">
            <div class="col-sm-3 container text-center mx-2 rounded" style="background: #0d6efd;" data-aos="fade-right">
              <div class="row align-items-center">
                <div class="col-sm" style="color: whitesmoke;">
                  <br>
                  <p class="lead my-0">Intermediate</p>
                  <p>2014-2015</p>
                </div>
              </div>
            </div>
            <div class="col-sm-7" data-aos="fade-left">
              <div class="card-body">
                <h5 class="card-title">New Standard Public School</h5>
                <p class="card-text">Completed my class 12th with <b>88.20 %</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card m-1 p-1" style="width: 100%;">
          <div class="row" style="width: 100%;">
            <div class="col-sm-3 container text-center mx-2 rounded" style="background: #0d6efd;" data-aos="fade-right">
              <div class="row align-items-center">
                <div class="col-sm" style="color: whitesmoke;">
                  <br>
                  <p class="lead my-0">High School</p>
                  <p>2012-2013</p>
                </div>
              </div>
            </div>
            <div class="col-sm-7" data-aos="fade-left">
              <div class="card-body">
                <h5 class="card-title">New Standard Public School</h5>
                <p class="card-text">Completed my class 10th with <b>86.67 %</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-5 mb-5" id="contact" data-aos="zoom-in">
      <div class="card m-3 p-3">
        <div class="card-header">
          <h4>Contact Me</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Email</h5>
          <tr>
            <td>
              <p [cdkCopyToClipboard]="'sudhanshuom1996@gmail.com'" style="cursor: pointer;">
                sudhanshuom1996@gmail.com
              </p>
            </td>
            <td>
              <i [cdkCopyToClipboard]="'sudhanshuom1996@gmail.com'"
                class="border border-2 rounded bi bi-clipboard ms-2 p-1" style="cursor: pointer;">
                <!-- <i class="bi bi-clipboard"></i> -->
              </i>
            </td>
          </tr>
        </div>
      </div>
    </div>
  </div>
</div>
